[submodule "lib/doxygen-awesome-css"]
	path = lib/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
[submodule "lib/benchmark"]
	path = lib/benchmark
	url = https://github.com/google/benchmark.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/implot"]
	path = lib/implot
	url = https://github.com/epezent/implot.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/imgui_test_engine"]
	path = lib/imgui_test_engine
	url = https://github.com/ocornut/imgui_test_engine.git
